# ====================
# 服务器配置
# ====================

BACKEND_HOST=0.0.0.0        # 后端服务器地址
BACKEND_PORT=8080           # 后端服务器端口
FRONTEND_HOST=0.0.0.0       # 开发服务器地址
FRONTEND_PORT=5173          # 开发服务器端口

# ====================
# 数据库配置
# ====================

DB_HOST=                    # 数据库服务器地址
DB_PORT=                    # 数据库服务器端口
DB_USER=                    # 数据库用户名
DB_PASS=                    # 数据库密码
DB_NAME=                    # 数据库名