html {
	height: 100%;
}
textarea {
	resize: none;
}
.a {
	height: 100%;
	padding: 24px 0;
}
.bottom-toast {
	bottom: 20px;
}
.btn-link {
	text-decoration: none;
}
.errors {
	width: 350px;
}
.text-ellipsis {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.toast {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	z-index: 1000;
	max-width: 350px;
	margin: 0 auto;
}
.top-toast {
	top: 20px;
}